body{
  margin: 0;
  padding: o;
  background: #000;
  video{
    width: 100%;
    object-fit: cover;
  }
  h1{
    margin: 0;
    padding: 0;
    color: #ddd;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    font-size: 5em;
    letter-spacing: 0.2em;
    font-family: sans-serif;
    span{
      display: inline-block;
      animation: animate 1s linear forwards;
      opacity: 0;
    }
  }

  @keyframes animate {
    0%{
      opacity: 0;
      transform: rotateY(90deg);
      filter: blur(10px);
    }
    100%{
      opacity: 1;
      transform: rotateY(0deg);
      filter: blur(0);

    }
  }
  h1 span:nth-child(1){
    animation-delay: 1s;
  }
  h1 span:nth-child(2){
    animation-delay: 1.5s;
  }
  h1 span:nth-child(3){
    animation-delay: 2s;
  }
  h1 span:nth-child(4){
    animation-delay: 2.5s;
  }
  h1 span:nth-child(5){
    animation-delay: 3s;
  }
  h1 span:nth-child(6){
    animation-delay: 3.5s;
  }
  h1 span:nth-child(7){
    animation-delay: 4s;
  }
  h1 span:nth-child(8){
    animation-delay: 4.5s;
  }
  h1 span:nth-child(9){
    animation-delay: 5s;
  }
}